/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    
    
    
    
    width: 800px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#links{

    max-resolution: left -200px;
    margin-top: 25%;
    
    width: 100px;
    height: 100px;
    background-color: red;
    
    
}

#rechts{
   margin-top: -250px;
   margin-left: -200px;
   margin-right: 40px;
    width: 100px;
    height: 100px;
    background-color:red;
 
}

#rechtsonder{
    margin-top: -500px;
    margin-left: 300px;
    margin-right: 40px;
     width: 100px;
     height: 250px;
     background-color:red;
  
 }
 
